{{include './tpl/Head'}}
{{include './tpl/Header'}}
    <div> 首页 </div>
    <div> 值 </div>
    <div> {{ user}} {{age}}</div>
    <a href="/about">去关于页面</a>
    <h3>好友列表</h3>
    <img src='b2.jpg' alt="" style="width: 100%;">
    <ul>
        {{each list}}
        <li>
            好友姓名：{{$value.name}}--好友电话：{{$value.tel}}--好友邮箱：{{$value.email}}--好友地址：{{$value.address}}
        </li>
        {{/each}}


    </ul>
    <div>
        <div>
            <label>用户ID：</label><input type="text" id="userID" placeholder="输入用户id">
            <button onclick="getUserInfo()">用户ID获取数据</button>
        </div>

        <div>
            <label>用户名：</label><input type="text" id="username" placeholder="输入用户名">
            <label>用户密码：</label><input type="password" id="password" placeholder="输入用户密码">
            <button onclick="UpdateUserInfo()">提交用户名，密码</button>
        </div>
    </div>
     
    <script type="text/javascript">
        function getUserInfo(){
            $.ajax({
                url:'/UserInfo/'+$("#userID").val(),
                type:'GET',
                success:function(data){
	                console.log('ajax',data);
	                if(data.code == 200){
                        alert('参数ID='+data.data.id);
                    }else {
	                	alert(data.msg);
                    }

                },
                error:function(err){
                    console.log(err);
                }
            })
        }

        function UpdateUserInfo(){
             $.ajax({
                url:'/updateUserInfo',
                type:'POST',
                data:{
	                username:$("#username").val(),
                    password:$("#password").val()
                },
                success:function(data){
	                alert('参数username='+data.username+ ";" +'参数password='+data.password);
                },
                error:function(err){
                    console.log(err);
                }
            })
        }

    </script>



{{include './tpl/Footer'}}
{{include './tpl/Foot'}}
